# Dataset Registry
active_datasets: ["CSL_Daily"]
active_weights: [1.0]

# Data Settings
data:
  resize: [224, 224]
  channels: 3
  mosaic: 1

datasets:
  CSL_Daily: config/dataset/CSL-Daily.yaml
  CSL_News:  config/dataset/CSL-News.yaml
  BOBSL:     config/dataset/BOBSL.yaml

# Model
model: config/model/m1.yaml

# Finetune Task
Finetune:
  task: translation                 # retrieval / recognition / translation
  train_split: val
  eval_split:  test
  amp: true

# Evaluation Settings (pure evaluation)
Evaluation:
  beam_size: 4
  max_new_tokens: 64
  save_predictions: true

# Save & Logging
save_dir: /home/pxl416/PeixiLiu/px_proj/Uni-SLM/checkpoints/finetune

wandb:
  use: true
  project: uni-slm-finetune
  run_name: ft-translation-1208

seed: 3407
