# Dataset Registry
active_datasets: ["CSL_Daily"]
active_weights: [1.0]

# Data Settings
data:
  resize: [112, 112]
  channel: 3  # 1 or 3
  mosaic: 1

datasets:
  CSL_Daily: /home/pxl416/PeixiLiu/px_proj/Uni-SLM/config/dataset/CSL-Daily.yaml
  CSL_News:  config/dataset/CSL-News.yaml
  BOBSL:     config/dataset/BOBSL.yaml

# Model
model: config/model/m2.yaml

# Finetune Task
Finetune:
  task: retrieval                 # retrieval / recognition / translation
  train_split: val
  eval_split:  test
  amp: true

# Evaluation Settings (pure evaluation)
Evaluation:
  retrieval: true
  recognition: false
  translation: false

# Save & Logging
save_dir: /home/pxl416/PeixiLiu/px_proj/Uni-SLM/checkpoints/finetuner/translation

wandb:
  use: true
  project: unisle-fttest-12 # uni-slm-finetuner
  run_name: ft-retrieval-1220

seed: 3407
