# ============================================================
# Global Data Settings
# ============================================================
data:
  resize: [224, 224]
  channels: 3
  mosaic: 1            # 未来可改为 1/4/9 —— Mosaic 数据增强参数

# ============================================================
# Dataset registry
# ============================================================
datasets:
  CSL_Daily: config/dataset/CSL-Daily.yaml
  CSL_News:  config/dataset/CSL-News.yaml
  BOBSL:     config/dataset/BOBSL.yaml

# ============================================================
# Which datasets to use for training?
# ============================================================
active_datasets: ["CSL_Daily"]
active_weights: [1.0]





# ============================================================
# Model Configuration
# ============================================================
model:
  config: config/model/m1.yaml    # 模型 builder 文件
  pretrained: null                # 如果要加载预训练模型，则写路径


# ============================================================
# Finetune Task Settings
# ============================================================
Finetune:
  task: retrieval                 # retrieval / recognition / translation
  train_split: train
  eval_split: dev
  amp: true                       # 混合精度
  freeze: []                      # ["rgb", "pose", "text"]

  # optional: 任务级别增强（覆盖 dataset augment）
  augment:
    rgb:
      color_jitter: false
    temporal:
      frame_subsample: 1


# ============================================================
# Evaluation Settings (用于调用正确的 finetuner/head)
# ============================================================
Evaluation:

  retrieval:
    mode: false
    rgb_in: 512
    text_in: 384
    proj_dim: 256
    temperature: 0.07

  recognition:
    mode: false
    in_dim: 512
    num_classes: 20000
    hidden_dim: 512
    num_layers: 2
    dropout: 0.1
    blank_id: 0

  translation:
    mode: true
    model_type: mt5
    model_path: google/mt5-base
    tokenizer_path: google/mt5-base
    in_dim: 512
    d_model: 768
    max_video_len: 256
    prompt: "Translate sign language video to Chinese:"
    lang: zh
    label_smoothing: 0.1
    max_target_len: 128
    max_new_tokens: 64
    num_beams: 4
    encode_mode: encoder_outputs


# ============================================================
# Logging & Saving
# ============================================================
save_dir: /home/pxl416/PeixiLiu/px_proj/Uni-SLM/checkpoints/finetune

wandb:
  use: true
  project: Uni-SLM-Finetune
  run_name: ft-retrieval-1204
